body{font-family: Verdana,Arial,Helvetica,sans-serif;font-size:12px}
textarea{font-family: Verdana,Arial,Helvetica,sans-serif;}
input[type=button] {-webkit-appearance: button;}
img{border:0px;}
.list{margin:5px;border:#cccccc 1px solid;min-height:100px}
.list span{margin:0 5px 0 5px;font-weight: bold;}
.list p{text-indent:2em}
